{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_dashboard.html.twig' %}

{% block title %}Freedom - Objective - Details{% endblock %}

{% block content_header '' %}

{% block content %}

	<div ng-controller="ObjectiveDetailsCtrl" ng-init="userId = {{ userLogged.getId }}">
	    {% include 'FreedomObjectiveBundle:ObjectiveStructure:objective_structure_details.html.twig' %}
	</div>

{% endblock %}