{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_dashboard.html.twig' %}

{% block title %}Freedom - FriendRequest{% endblock %}

{% block content_header '' %}

{% block content %}

	<h3><i class="glyphicon glyphicon-globe"></i> Friend Requests</h3>  	

	<ul>
		{% if friendRequests %}
		    {% for friendRequest in friendRequests %}
		        <li>
		        	{% if friendRequest.seen == false %}<div class="notif-not-seen">{% else %}<div>{% endif %}
		        		<a href="{{ path('freedom_objective_profile_profile', {idProfile: friendRequest.user1.id}) }}">{{ friendRequest.user1.fullname }}</a> wants to be your friend - {{ friendRequest.datecreation|date }}
		        	</div>
		        </li>
		    {% endfor %}
		{% else %}
			<div>No friend requests</div>
		{% endif %}
	</ul>
 

        

{% endblock %}