{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_dashboard.html.twig' %}

{% block title %}Freedom - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}

	<h3><i class="glyphicon glyphicon-globe"></i> Group Notifications</h3>  	

	<div ng-controller="GroupDashboardCtrl" ng-init="userLogged = {{ userLogged.getId }}">
		<div ng-repeat="group in user.owngroups">
			<a href="#" ng-click="url('freedom_group_details', {id: group.id})">{[{group.name | capitalize}]}</a>
	        <span ng-click="deleteGroup($index)" class="clickable glyphicon glyphicon-remove"></span>
			<ul ng-repeat="member in group.userbelonggroups  | orderBy :'-id'">
				<li ng-if="member.user">
			    	<a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: member.user.id})">{[{ member.user.fullname }]}</a> <manage-member-group group="group" member='member'></manage-member-group>
			    </li>
			</ul>
		</div>
		
	</div>

{% endblock %}