{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_profile.html.twig' %}

{% block title %}Freedom - Groups{% endblock %}

{% block content_header '' %}

{% block content %}

<div ng-controller="GroupProfileCtrl" ng-init="userLogged = {{ userLogged.getId }}">
	<span ng-if="{{ userLogged.getId }} == pathUser">
		<h3><a href="{{ path('freedom_group_create') }}">Create a group</a></h3>
	</span>
	<h3>The list</h3>
	<div ng-repeat="group in groups">
		<a href="#" ng-click="url('freedom_group_details', {id: group.id})">{[{group.name | capitalize}]}</a>
	</div>
	

</div>

{% endblock %}