{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_profile.html.twig' %}

{% block title %}Freedom - {{ userProfile|capitalize }}{% endblock %}

{% block content_header '' %}

{% block content %}

<div ng-controller="ProfileCtrl" ng-init="userLogged = {{ userLogged.getId }}">
	<h3><allow-friend-user user='user' is-friend='isFriend'></allow-friend-user></span><span> {{ userProfile|capitalize }}</span></h3>

<div>
	<h4>Friends ()</h4>
	<ul ng-repeat="friend in user.friends  | orderBy :'-id'" ng-if="friend.accepted == 1">
		<li>
	    	<a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: friend.user1.id})">{[{ friend.user1.username | capitalize }]}</a>
	    </li>
	</ul>
</div>


</div>

{% endblock %}