{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomObjectiveBundle::layout_profile.html.twig' %}

{% block title %}Freedom - {{ userProfile|capitalize }}{% endblock %}

{% block content_header '' %}

{% block content %}

<div ng-controller="ProfileCtrl" ng-init="userLogged = {{ userLogged.getId }}">
	<h3>
		<img src="{{ '/public/images/profile1.jpeg' | apply_filter('my_thumb') }}" />
		<span> {{ userProfile.fullname|capitalize }}</span>
		<allow-friend-user user='user' is-friend='isFriend'></allow-friend-user>
	</h3>

<div>
	<h4>Friends (<span> {[{ user.friends.length }]} </span>)</h4>
	<ul ng-repeat="friend in user.friends  | orderBy :'-id'">
		<li>
	    	<a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: friend.user1.id})">{[{ friend.user1.fullname }]}</a>
	    </li>
	</ul>
</div>


</div>

{% endblock %}