{% extends 'FreedomExploreBundle::layout.html.twig' %}

{% block title %}Freedom - Explore - Search{% endblock %}

{% block content_header '' %}

{% block content %}

    <div class="block">
        <!-- upper section -->
        <div class="row">
            <div class="col-sm-2">
                <!-- left -->
                <h3><i class="glyphicon glyphicon-cog"></i> Filters</h3>
                <ul class="nav nav-stacked">
                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> Create</a></li>
                </ul>
                <hr>
            </div>
            <div class="col-sm-10">
                <div class="col-lg-10">
                	</br>
                	<span>What are you looking for? </span>
                	<select>
                		<option value="value1" selected>Valeur 1</option> 
                		<option value="value2">Valeur 2</option> 
                	</select>
                	<input type="text" placeholder="Search...">
                    </br>                   
                    <div ng-show="flashMessage" class="alert" ng-class="flashMessage.type">
                        <a href="#" class="close" ng-click="flashMessage = null">&times;</a>
                        <strong>{[{ flashMessage.message }]} </strong><span></span>
                    </div>


                </div><!--/col-->

                <!--center-right-->
                <div class="col-lg-2">

                    <ul class="nav nav-justified">
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-heart"></i></a></li>
                    </ul>  

                    <hr>

                    <p>
                        This is a responsive dashboard-style layout that uses <a href="http://www.getbootstrap.com">Bootstrap 3</a>. You can use this template as a starting point to create something more unique.
                    </p>
                    <p>
                        Visit the Bootstrap Playground at <a href="http://www.bootply.com">Bootply</a> to tweak this layout, or discover 1000's of Bootstrap code examples and snippets.
                    </p>

                    <hr>

                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-plus"></i><br>
                            Service
                        </a>
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-cloud"></i><br>
                            Cloud
                        </a>
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-cog"></i><br>
                            Tools
                        </a>
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-question-sign"></i><br>
                            Help
                        </a>
                    </div>

                </div><!--/col-span-2-->
            </div>
        </div><!--/row-->
    </div>

{% endblock %}
