{% set userLogged = app.security.getToken().getUser() %}

{% extends 'FreedomExploreBundle::layout.html.twig' %}

{% block title %}Freedom - Explore - Search{% endblock %}

{% block content_header '' %}

{% block content %}

    <div class="block">
        <div class="row" ng-controller="ExploreSearchCtrl">
            <div class="col-sm-2">
    			<div class="my-fade-animation" ng-include="search.type.url"></div>
                <hr>
            </div>
            <div class="col-sm-10">
                <div class="col-lg-10">
                	</br>
                	<span>What are you looking for? </span>
                	<select ng-model="search.type" ng-options="type as type.value for type in types"></select>
                	<input name="search_input" ng-model="search.name" type="text" placeholder="Search...">
                    </br>  
                    <!-- Root scope? No-->                 
{#                     <div ng-show="flashMessage" class="alert" ng-class="flashMessage.type">
                        <a href="#" class="close" ng-click="flashMessage = null">&times;</a>
                        <strong>{[{ flashMessage.message }]} </strong><span></span>
                    </div> #}
                    <div ng-repeat="result in results">
                        <hr>
                        <!-- Objectives -->
                    	<div ng-if="search.type.key == 'objectives'">
                    		<a href="#" ng-click="url('freedom_objective_dashboard_details', {id: result.id})">{[{result.name | capitalize}]}</a> - by <a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: result.user.id})">{[{result.user.fullname }]}</a><span ng-show="result.group"> - Belong to the group <a href="#" ng-click="url('freedom_group_details', {id: result.group.id})">{[{result.group.name | capitalize}]}</a></span>
                            <span>{[{result.userlikeobjectives.length}]}
                                <allow-like-objective user-logged='{{ userLogged.getId }}' objective='result'></allow-like-objective>
                            </span>
                            <span>{[{result.userfollowobjectives.length}]}
                                <allow-follow-objective user-logged='{{ userLogged.getId }}' objective='result'></allow-follow-objective>
                            </span>
                            <br>
                            <span><span class="glyphicon glyphicon-tag"></span> {[{result.category | capitalize}]} </span>
                            <span><span class="glyphicon glyphicon-time"></span> {[{ result.number_of_days }]} </span>
                        </div>
                        <!-- Users -->
                    	<div ng-if="search.type.key == 'users'">
                    		<a href="#" ng-click="url('freedom_objective_profile_profile', {idProfile: result.id})">{[{result.fullname }]}</a>
                    	</div>	
                        <!-- Groups -->
                        <div ng-if="search.type.key == 'groups'">
                            <a href="#" ng-click="url('freedom_group_details', {id: result.id})">{[{result.name | capitalize}]}</a>
                        </div>  
                    </div>
                <div ng-show="loading"><img src="{{ asset('public/images/loading.gif') }}"></div>
                </div>

                <div class="col-lg-2">

                    <ul class="nav nav-justified">
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-heart"></i></a></li>
                    </ul>  

                    <hr>

                    <p>
                        This is a responsive dashboard-style layout that uses <a href="http://www.getbootstrap.com">Bootstrap 3</a>. You can use this template as a starting point to create something more unique.
                    </p>
                    <p>
                        Visit the Bootstrap Playground at <a href="http://www.bootply.com">Bootply</a> to tweak this layout, or discover 1000's of Bootstrap code examples and snippets.
                    </p>

                    <hr>

                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-plus"></i><br>
                            Service
                        </a>
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-cloud"></i><br>
                            Cloud
                        </a>
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-cog"></i><br>
                            Tools
                        </a>
                        <a href="#" class="btn btn-info col-sm-3">
                            <i class="glyphicon glyphicon-question-sign"></i><br>
                            Help
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
