<h3><i class="glyphicon glyphicon-cog"></i> Filters Objectives</h3>
<ul class="nav nav-stacked">
    <li><i class="glyphicon glyphicon-plus"></i> Category</a></li>
    <div ng-repeat="category in listCategories">
    	<input checkbox-categories type="checkbox" name="option3" value="category.key"> {[{ category.value }]}<br>
    </div>
</ul>
<ul class="nav nav-stacked">
    <li><i class="glyphicon glyphicon-plus"></i> Completed ?</a></li>
    <input type="checkbox" name="done" ng-model="search.objective.done"> Yes<br>
    <input type="checkbox" name="done" ng-model="search.objective.done"> No<br>
</ul>